


cna 
h1, h2 {
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
    margin: 10px;
  }
  h3{
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
  }
  
  button {
    display: block;
    margin: auto;
    width: 100px;
    height: 50px;
    background-color: brown;
    font-size: 30px;
  }
  
  .containerw {
    width: 600px;
    margin: auto;
    cursor: url(palu1.png), auto;
  }
  
  .container:active {
    cursor: url(palu2.png), auto;
  }
  
  .tanah {
    width: 200px;
    height: 165px;
    position: relative;
    overflow: hidden;
    float: left;
  }
  
  .tanah::after {
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    background: url(tanah.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -25px;
  }
  
  .tikus {
    width: 100%;
    height: 100%;
    background: url(tikus.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top 0.3s;
  }
  
  .tanah.muncul .tikus {
    top: -15px;
  }
  .borderw{
    height: 550px;
    width: 1000px;
    background-color: green;
    background-size: cover;
    margin: 0 auto;
    background: url("./soil.png");
    border: 3px solid white;
    border-radius: 25px;
    

  }

    /* border: 5px solid black;
    border-width: 1px;

    background-color: rgb(238, 91, 38);
  
 
  /* .positionborder{
    display: flex;
    justify-content: center;
    align-items: center;
  } */